apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  labels:
    app: {{ template "fullname" . }}
  name: {{ template "fullname" . }}
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /$2
spec:
  rules:
    - http:
        paths:
        - backend:
            serviceName: {{ template "fullname" . }}
            servicePort: http
          path: /testapp(/|$)(.*)